@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #000;
$color-base: #000;
$color-main: #000;
$color-accent: #000;
$color-bg: #000;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 1024px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// figmaのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function lsf($xd-value) {
    @return #{math.div($xd-value, 100)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1024px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

// =================================================================
//  index.html
// =================================================================

body {
    margin: 0;
    color: #fff;
    background-color: #080a1c;
    font-family: 'Rajdhani', "IBM Plex Mono", monospace;
    overflow-x: hidden;
}

.header {
    margin-top: 50px;

    &__inner {
        @include inner();
    }

    &__title {
        color: #fff;
        font-size: 40px;
        letter-spacing: 0.005em;
        text-align: left;
    }
}

.footer {
    margin-bottom: 20px;

    &__inner {
        @include inner();
    }

    &__copy {
        display: block;
        font-size: 12px;
        text-align: center;
    }
}

#sky {
    position: fixed;
    inset: 0;
    transform-origin: center;
    z-index: -1;
    animation: rotateSky 160s linear infinite;
    transform-style: preserve-3d;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    animation: twinkle 3s infinite ease-in-out alternate;
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(white, transparent);
    opacity: 0.8;
    transform: rotate(135deg);
    animation: dropStar 1.2s ease-out forwards;
}

@keyframes dropStar {
    0% {
        transform: translate(0, 0) rotate(135deg);
        opacity: 1;
    }

    100% {
        transform: translate(400px, 400px) rotate(135deg);
        opacity: 0;
    }
}

@keyframes rotateSky {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.horoscope-wheel {
    //margin-top: 150px;
    margin-bottom: 200px;
}

.wheel-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border-radius: 50%;
}

//占い結果表示

.center-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 400px;
    padding: 18px;

    background: rgba(10, 20, 50, 0.88);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.center-display::-webkit-scrollbar {
    display: none;
}

.center-display h3 {
    font-size: 1.4em;
    color: #fff;
    margin-bottom: 8px;
}

.center-display h4 {
    font-size: 0.95em;
    margin-top: 10px;
    color: #fff;
}

.center-display p {
    font-size: 0.85em;
    line-height: 1.5;
    margin: 5px 0;
}

.center-display strong {
    color: #fff;
    font-weight: bold;
}

.center-display hr {
    width: 70%;
    height: 1px;
    border: none;
    margin: 6px 0;
    background-color: rgba(0, 255, 255, 0.3);
}

.initial-message {
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
}

.constellation-icon {
    cursor: pointer;
    transition: 0.3s;
}

.constellation-icon.is-active {
    filter: drop-shadow(0 0 20px #00ffff);
}

.wheel-wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#constellationWheelSVG {
    position: absolute;
    inset: 0;
    width: 600px;
    height: 600px;
    z-index: 1;
    overflow: visible;
}