@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #000;
$color-base: #000;
$color-main: #000;
$color-accent: #000;
$color-bg: #000;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 1024px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// figmaのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function lsf($xd-value) {
    @return #{math.div($xd-value, 100)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1000px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

// =================================================================
//  index.html
// =================================================================

body {
    margin: 0;
    color: #fff;
    background-color: black;
    font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Segoe UI Mono", monospace;
}

.header {
    margin-top: rem(50);

    &__inner {
        @include inner();
    }

    &__title {
        color: #fff;
        font-size: rem(30);
    }

}

.footer {
    margin-bottom: rem(20);

    &__inner {
        @include inner();
    }

    &__copy {
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: rem(12);
        text-align: center;
    }
}

.constellation {
    margin-top: rem(50);
    margin-bottom: rem(100);

    &__inner {
        @include inner();
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    &__list {
        border-radius: rem(40);
        padding: rem(15);
        display: grid;
        grid-auto-flow: row;
        row-gap: rem(15);
    }

    &__item {
        color: #fff;
        opacity: 1;
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
        margin: 5px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            color: white;
        }
    }
}

.fortune-box {
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    align-items: center;
}



//背景
#sky {
    position: fixed;
    inset: 0;
    transform-origin: center;
    z-index: -1;
    animation: rotateSky 300s linear infinite;
    transform-style: preserve-3d;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
}

@keyframes rotateSky {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}